.container {
    padding: 10%;
    font-family: 'Nunito Sans', sans-serif; 
}

.cobuyer-title {
    font-size: 20px;
    margin: 40px 0 10px 0
}

.product {
    display: flex;

}

.product-name {
    font-size: 30px;
    line-height: 44px;
}

.title {
    margin-right: 5px;
    font-style: italic;
    color: grey
}

.row {
    display: flex;
    align-items: center;
}

.product-image-container {
    width: 400px;
    height: 400px;
    border: 1px solid silver;
    margin-right: 30px;
    text-align: center;
    line-height: 400px;
    margin-bottom: 10px;
    background-color: #F1F2F3;
}

img {
    width: 100%
}

.product-info {

}

.members {

}

.join-btn {
    padding: 10px 40px; 
    border-radius: 18px; 
    font-size: 14px;
    margin-top: 10px;
    background-color: #C83714; 
    border: none;
    font-family: 'Nunito Sans', sans-serif; 
    color: white; 
    cursor: pointer;
}